<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/styles.css">
</head>

<body>
    <h1>Home</h1>
    <div class="menu-horizontal">

        <a href="/games" class="menu-item">
            <div class="icon">
                <img src="img/consola-de-juego.png" alt="Tu Imagen" class="animated-img">
            </div>
            Juegos
        </a>

        <a href="/consoles" class="menu-item">
            <div class="icon">
                <img src="img/game-boy.png" alt="Tu Imagen" class="animated-img">
            </div>
            Consolas
        </a>
    </div>
    <a href="/"> <button class="btn-back">Volver</button> </a>


</body>

</html>